.test_library {
    background-color: #aaa;
    display: block;
    margin: 16px;
    min-height: 200px;
    padding: 16px;
}

.test_library__header {
    color: #fff;
    font-size: 24px;
    margin: 16px;
    padding: 0;
    text-align: center;
}
